* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: sans-serif;
  background-color: #293133;
  color: #fff;
}

main {
  margin: 15vh auto;
  width: 380px;
  height: 380px;
  border: 2px dotted #fff;
  border-radius: 5px;
  text-align: center;
}

main h1 {
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline red;
  padding: 0 0 15px 0;
}

main div {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

input[type="number"] {
  text-align: right;
}

#activity {
  margin: 10px 0;
  display: block;
}

#aktivitaet {
  width: 350px;
}

table {
  margin: 5px auto;
  text-align: right;
}

#output_grundumsatz,
#output_grundumsatzkj,
#output_gesamtumsatz,
#output_gesamtumsatzkj {
  color: red;
}
